NODE_ENV=development
LOG_LEVEL=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KAFKA_BROKERS=localhost:9094

REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
